<div class ="container">
  <div class ="ques-container">
    <%=@question%>
    <p>-You</p>
  </div>
  <div class="ans-container">
    <%=@answer%>
    <p>-Your coach</p>
  </div>
  <%= link_to "Ask a new question", ask_path %>
</div>
